:root[data-theme="light"] {
  --text: rgb(0, 0, 0);
  --background: rgb(254, 231, 225);
  --primary: rgb(255, 88, 51);
  --accent: rgb(245, 108, 80);
}
:root[data-theme="dark"] {
  --text: rgb(255, 255, 255);
  --background: rgb(30, 7, 1);
  --primary: rgb(204, 37, 0);
  --accent: rgb(190, 65, 43);
}

:root {
  --recipe-card-footer-color: rgba(255, 255, 255, 0.1);
  font-family: "Source Sans 3", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}

body,
html {
  background: var(--background);
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden !important;
  height: 100svh;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--primary);
  height: 40px;
}

nav > h1 {
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: var(--text);
}

#user-form {
  display: flex;
  margin-left: auto;
  height: 100%;
  align-items: center;
}

#search-user {
  /* height: 30px; */
  height: calc(100% - 8px);
  min-width: 100px;
  max-width: 250px;
  width: 100%;
  margin-right: 10px;
}

#user-form > button {
  border-radius: 100%;
  border: none;
  height: calc(100% - 8px);
  background: white;
  aspect-ratio: 1/1;
  margin: 0;
  padding: 0;
  margin-right: 5px;
  color: var(--text);
}

#main-search {
  display: flex;
  flex-direction: row-reverse;
  /* background: var(--accent); */
  /* background: var(--accent); */
  background: rgba(255, 255, 255, 1);

  height: 10rem;
  gap: 10px;
  background-image: url("../img/banner.png");
  /* Create the parallax scrolling effect */
  width: 100%;
  /* background-attachment: fixed; */
  /* -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); */
  background-repeat: no-repeat;
  background-position-y: -40px;
  background-position-x: center;
  background-size: 900px 300px;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
}

#main-search-sort {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  border-width: 1px;
  border-color: black;
  color: black;
  /* font-weight: bolder; */
}

#search-tools-sort > label {
  color: black;
  /* font-size: larger; */
  /* background: rgba(255, 255, 255, 1); */
}

#search-recipe {
  height: 3rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  border-width: 1px;
  border-color: black;
}

#search-bar {
  margin-left: 10px;
  width: 500px;
  display: flex;
  align-items: center;
}

#search-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50px;
  max-width: 100px;
  width: 100%;
}

#search-tools-sort {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#search-tools-sort > label {
  font-size: 10px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  width: 30px;
}
#search-tools-sort > * {
  width: 100%;
}

#main-search-button:hover,
#main-search-sort:hover,
#search-recipe:hover {
  background: rgba(255, 255, 255, 0.5);
}

#main-search-button {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  border-color: black;
  border-radius: 4px;
  border-width: 1px;
  margin-top: calc(80px - 1.5rem);
  margin-bottom: 10px;
  height: 3rem;
  width: 100%;
}

#search-filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  grid-template-rows: repeat(auto-fit, 1fr);
  margin-right: 10px;
  margin-top: 10px;
  height: calc(100% - 20px);
  width: 30%;
  min-width: 100px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: var(--primary);
}

.search-filter-checkbox {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 5px;
  cursor: pointer;
}

.search-filter-checkbox > * {
  cursor: pointer;
}

.search-filter-checkbox > label {
  /* overflow: hidden; */
  margin-right: auto;
  text-overflow: ellipsis;
}

#index-main {
  background: var(--background);
  display: grid;
  grid-template-columns: repeat(5, 250px); /*1fr 1fr 1fr 1fr 1fr;*/
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
  padding: 20px 10px 20px 10px;
}

.recipe-card {
  text-align: center;
  height: 24rem;
  background: var(--primary);
  border-radius: 5px;
  cursor: pointer;
  /* box-shadow: 0px 0px 4px 1px var(--primary); */
}

.recipe-card-title {
  height: 20%;
  background: white;
  box-shadow: inset 0 0 5px var(--background);

  display: flex;
  flex-direction: column;
  justify-content: center;

  z-index: 2;
}

.recipe-card-title > * {
  margin: 0;
  z-index: 2;
}

.recipe-card-content {
  height: 80%;
  background: rgba(255, 255, 255, 1);
  position: relative;
  transition: background 300ms, box-shadow 300ms;
}

.recipe-card-content > img {
  position: relative;
  width: 100%;
  height: 75%;
  overflow: hidden;
  transform: scale(0.5);
  transition: transform 600ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  /* background-image: linear-gradient(white, transparent 50%),
    url(https://picsum.photos/300/300); */
}

.recipe-card:hover > .recipe-card-content {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.9) inset;
}

.recipe-card:hover > .recipe-card-content > img {
  transform: scale(0.9);
}

/* .recipe-card-content > img::after {
  box-shadow: inset 0 0 10px var(--primary);
} */

.recipe-card-img-gradient {
  position: absolute;
  width: 100%;
  height: 75%;
  top: 0%;

  /* box-shadow: inset 0 0 2px var(--primary); */

  /* background: transparent;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 10%,
    rgba(255, 255, 255, 1) 90%
  ); */

  z-index: 1;
}

.recipe-card-footer {
  position: relative;
  top: -20%;
  height: 20%;
  background: var(
    --recipe-card-footer-color
  ); /*var(--recipe-card-footer-color);*/
  box-shadow: inset 0 0 5px var(--background);
  /* background: green; */
  background: white;
}

/* .card3d,
.card3d img {
  transition: all 250ms ease-out;
} */

.fa-star {
  opacity: 1;
  transition: opacity, 100ms;
}

.fa-star:hover ~ .fa-star:not(.star-checked),
.fa-star:hover:not(.star-checked) {
  color: var(--accent);
  /* text-shadow: 1px 1px 2px black; */
  opacity: 0.4;
}

.star-ratings {
  /* width: fit-content; */
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  background: transparent; /* var(--recipe-card-footer-color); */
}

.star-checked {
  color: var(--accent);
}

footer {
  display: flex;
  background: var(--background);
  background: rgba(255, 255, 255, 0.5);
  border-top: 1px solid black;
  /* box-shadow: inset 1px 1px 2px 1px black; */
  width: calc(100% - 140px);
  height: 300px;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 70px;
  padding-right: 70px;
}

.footer-info {
  padding-top: 10px;
  width: 25%;
  text-align: center;
  border-radius: 0px 0px 20px 20px;
  /* background: rgba(255, 255, 255, 0.5); */
}

.footer-info > section {
  font-size: xx-small;
}

.page-navigation {
  display: flex;
  background: var(--background);
  width: 100%;
  justify-content: center;
  padding-bottom: 10px;
  align-items: center;
}

.page-navigation > span {
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  /* body {
    width: 75vw;
    margin: 0 auto;
  }
  footer {
    width: 75% !important;
  } */
  #index-main {
    grid-template-columns: repeat(4, 200px); /*1fr 1fr 1fr 1fr;*/
  }

  .recipe-card {
    height: 18rem;
  }
  #main-search {
    background-size: 900px 300px;
  }
}
@media screen and (max-width: 850px) {
  #index-main {
    grid-template-columns: repeat(2, 226.5px); /*1fr 1fr;*/
  }
  .recipe-card {
    height: 25rem;
  }
  footer {
    width: calc(100% - 10px);
    padding-left: 5px;
    padding-right: 5px;
  }
  .footer-info > section {
    font-size: 0.5rem;
  }
  #main-search {
    background-size: 700px 300px;
  }
}
@media screen and (max-width: 470px) {
  #index-main {
    grid-template-columns: repeat(1, 300px);
  }
  .recipe-card {
    height: 30rem;
  }
  footer {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .footer-info > section {
    font-size: 0.4rem;
  }

  #main-search {
    background-size: 500px 300px;
  }
}
