.login-form {
  display: grid;
  grid-template-rows: repeat(5, 50px);
  gap: 10px;
  text-align: center;
  min-height: 400px;
  place-items: center;
}

.login-form > input {
  height: 3rem;
  width: min(500px, 100%);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  border-width: 1px;
  border-color: black;
  align-self: center;
  align-items: center;
}

.login-form > button {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  border-color: black;
  border-radius: 4px;
  border-width: 1px;
  margin-bottom: 10px;
  height: 3rem;
  width: min(500px, 100%);
}

.login-form > a {
  color: var(--primary);
}
